/* Progamacion para fondo animado*/




/* Programacion Nava*/

@import url('https://fonts.googleapis.com/css2?family=Poppisns')

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Poppins', sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('Fondo1.jpg') no-repeat;
	background-size:cover;
	background-position: center; 
}
header {
	top: 10%;
	left: 0;
	width: 99.3%;
	padding: 10px 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
}
/* para fantasma*/
.ghost{
	position: absolute;
	font-size: 1em;
	width: 1em;
	height: 1em;
	left: 100%;
	top:5.9%;
	mix-blend-mode: exclusion;
	animation: ghost 10s ease-in-out infinite;
}
@keyframes ghost{
	to{
		left: -100px;
	}
}


.logo{
	font-size: 1.1em;
	color: #fff;
	user-select: none;
}


.titulo{
	font-size: 1.5em;
	text-align: center;
	color: #fff;
}


.navigation a{
	position: relative;
	font-size: 1em;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 60px;
}

.navigation a::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background: #fff;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform.5s;
}

.navigation a:hover::after{
	transform-origin: left;
	transform: scaleX(1);
}

.navigation .btnLogin-popup{
	width: 100px;
	height: 40px;
	background: transparent;
	border:2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	margin-left: 40px;
	transition: .5s;
}

.navigation .btnLogin-popup:hover {
	background: #fff;
	color: #162938;
}

.images{
	display: flex;
	gap: 10px;
}

.image{
	overflow: hidden;
	border-radius: 10px;
}

.image img{
	width: 100%;
	height: 100%;
	filter: grayscale(100%);
	transition: all .3s ease;
}
.image p{
	font-size: 3rem;
	color: transparent;
	position: absolute;
	top:50%;
	left: 5%;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.image h2{
	font-size: 3rem;
	color: transparent;
	position: absolute;
	top:50%;
	left: 43%;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.image h3{
	font-size: 3rem;
	color: transparent;
	position: absolute;
	top:50%;
	left: 76%;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.image:hover img{
	filter: none;
	transform: rotate(10deg) scale(1.4);
	cursor: pointer;
}

.image:hover p{
	filter: none;
	color: white;
}
.image:hover h2{
	filter: none;
	color: white;
}
.image:hover h3{
	filter: none;
	color: white;
}

section footer{
	color: transparent;
}

h5{
	position: absolute;
	top: 83%;
	left: 50%;
	transform: translate(-50%,.50%);
	margin: 0;
	padding: 0;
	font-size: 5em;
	color: transparent;
	text-transform: uppercase;
	cursor: pointer;
}
h5 span:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	transition: 0.5s;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
	overflow: hidden;
}
h5:hover span:nth-child(1){
	transform: translateY(-18px);
}
h5 span:nth-child(2){
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	transition: 0.5s;
	clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
	overflow: hidden;
}
h5:hover span:nth-child(2){
	transform: translateY(18px);
}
h5 span:nth-child(3){
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) scaleY(0);
	width: 91%;
	color: #000;
	background: #ff0;
	font-size: 0.25em;
	letter-spacing: 0.7em;
	text-align: center;
	padding-left: 20px;
	margin-left: 5px;
	transition: 0.5s;
}
h5:hover span:nth-child(3){
	transform: translateY(-50%) scaleY(1);
}



ul{
	margin: 0;
	padding: 0;
    position: absolute;
    display: flex;
    top: 94%;
    left: 10%;
    transform: translate(-50%, -50%);
}

ul li{
  list-style: none;
  margin: 0 5px;
  cursor: pointer;
}
ul li a{
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: transparent;
  border-radius: 50%;
  font-size:25px;
  color: #666;
  transition: .5s;
}
ul li a::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: transparent;
	transition: .5s;
	transform: scale(.9);
	z-index: -1;
}
ul li a:hover::before{
	transform: scale(1.1);
	box-shadow: 0 0 15px turquoise;
}
ul li a:hover{
	color: turquoise;
	box-shadow: 0 0 5px turquoise;
	text-shadow: 0 0 5px turquoise;
}